* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #343A40;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
header .btns {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 2;
}
header .btns .btn2 {
  background-color: #7CBD1E;
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
header nav .collapseDiv {
  justify-content: flex-start;
}
header nav .collapseDiv ul li a {
  color: #fff;
}

#CustomerSupport {
  background: url(/assets/img/hero_bg_2.jpg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#CustomerSupport .CustomerSupportItem {
  text-align: center;
}
#CustomerSupport h1 {
  color: #fff;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#CustomerSupport .btn3, #CustomerSupport .btn4 {
  padding: 12px 16px;
  border-radius: 4px;
}
#CustomerSupport .btn3 {
  background-color: #7CBD1E;
}
#CustomerSupport .btn4 {
  background-color: #424242;
}
#CustomerSupport .btn4:hover {
  background-color: #fff;
  transition: 0.5s;
}

#cards1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#cards1 .card {
  display: flex;
  justify-content: center;
  align-items: center;
}